@model WebAppTMA.Models.Complain

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DashboradLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Complain</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.complainType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.complainType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.complaindata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.complaindata)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
