@model WebAppTMA.Models.File

@{
    ViewBag.Title = "Create";
    //Layout = "~/Views/Shared/_DashboradLayout.cshtml";
}

<head>
    <style>
        .stee {
            margin-left: 158px;
            margin-top: 90px;
        }
    </style>
</head>

<div class="container">
    <div class="stee">

        @using (Html.BeginForm("Create", "Files", FormMethod.Post, new { @id = "creatproduct" }))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 style="text-align:center;color:blue;"> CREATE File</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
            @*<div class="form-group">
                @Html.LabelFor(model => model.submit_from, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.submit_from, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.submit_from, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <div class="form-group">
                @Html.LabelFor(model => model.sumitionDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.sumitionDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.sumitionDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.FilePath, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label class = "control-label col-md-2">Message</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FilePath, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FilePath, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.submit_to, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.submit_to, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.submit_to, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Create" class="btn btn-primary btn-lg" id="crebtn" />
                </div>
            </div>
        </div>
        }
        </div>
    </div>
        <script>
            $("#crebtn").click(function () {

                $.ajax({
                    type: 'POST',
                    url: '/Files/Create/',
                    data: $("#creatproduct").serialize()

                })
                    .done(function (response) {
                        $("#tablcontainer").html(response);
                        $("#actioncontainer").html("");
                    })
                    .fail(function (XMLHttpRequest, TextStatus, errorThrown) {
                        alert("fail");
                    })
            });
        </script>
