@model WebAppTMA.Models.user

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_DashboradLayout.cshtml";
}
<head>
    <style>
        .con{
            margin-top:100px;
            margin-left:150px;
        }

        .box {
            border: 2px solid blue;
            font-size: 20px;
            background-color: orange;
            height:300px;
            padding:30px;
            border-radius:10px;
        }
        dd{
           
            color:white;
        }
    </style>
</head>
<div class="container">
    <div class="con">


        <h3>This Data will be deleted when you press the Delete button?</h3>
        <div>
           
            <hr />
            <div class="box">
                <dl class="dl-horizontal">
                    @*<dt>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </dt>*@

                    <dd>
                        @Html.DisplayFor(model => model.Role.RoleName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <br />
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd style="color:white;">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <br />
                    <dt>
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Password)
                    </dd>
                    <br />
                    <dt>
                        @Html.DisplayNameFor(model => model.Contact)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Contact)
                    </dd>
                    <br />
                    <dt>
                        @Html.DisplayNameFor(model => model.profile)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.profile)
                    </dd>
                    <br />
                </dl>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
            <br />
            <br />
           
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-primary" /> |
                    
                    <span>
                        <button>@Html.ActionLink("Back to List", "toindex")</button>
                        
                    </span>
                </div>
            
            }
        </div>
    </div>
</div>